.container__page{
    width: 100%;
    height: 100vh;
    margin-top: -1vh;
   
}
.tittle{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: aqua;
}

.container__parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    width: 80vw;
    background-color: rgb(147, 147, 147);
    margin-bottom: 5rem;
}

