.container__page{
    width: 100%;
    height: 100vh;
    margin-top: -1vh;
    background-color: darkslategray;
}
.tittle{
    display: flex;
    justify-content: center;
}
.parrafo{
    display: flex;
    justify-content: center;
}