.container__part1 {
  margin-top: -1vh;
  background: linear-gradient(to right, rgba(245, 245, 245, .8), rgba(245, 245, 245, .8)), url('../../../assets/common-bg.svg');
  background-position: center;
  height: 70vh;
  min-height: 55rem;
  max-height: 120rem;
}

.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 2vh;
  text-align: center;
}

.container__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parrafo {
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 1.3;
  font-size: 1.5rem;
  display: block;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.button__projects {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  /* background-color: aqua; */
  margin-top: 10vh;
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  position: static;
}

.social__buttons {
  float: left;
  margin-top: -10rem;
  /* background-color: antiquewhite; */
}

.container__social {
  width: 10vw;
  height: 10vh;
  float: left;
  /* background-color: #facf0f; */

}

.yes2__space {
  display: none;
}


.btn {
  width: 15rem;
  font-size: x-large;
  padding: 1.5rem;
  background: #facf0f;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  transition: transform .3s;

}

.proyectosbutton {
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
}


.button__scroll {
  width: 30px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);

}

.scroll {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  animation: scroll_4013 2s linear infinite;
  transform: translateY(40%);
}

.button__scroll:after {
  content: 'scroll';
  position: absolute;
  top: 140%;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}



@keyframes scroll_4013 {
  0% {
    transform: translateY(40%);
  }

  50% {
    transform: translateY(90%);
  }
}


.yes__space {
  display: none;
}

.yes1__space {
  display: none;
}

@media screen and (max-width:767px) {
  .btn {
    width: 15rem;
    font-size: x-large;
    padding: 1.5rem;
    background: #facf0f;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    transition: transform .3s;

  }

  .container__social {
    display: none;
  }

  .none__space {
    display: none;
  }

  .yes__space {
    display: unset;
  }

  .tittle {
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 2vh;


    /* background-color: #facf0f; */

  }

  .center__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container__parrafo {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;

  }

  .container__part1 {
    margin-top: -1vh;
    background: linear-gradient(to right, rgba(245, 245, 245, .8), rgba(245, 245, 245, .8)), url('../../../assets/common-bg.svg');
    background-position: center;
    height: 70vh;
    min-height: 53rem;
    max-height: 120rem;


  }

  .parrafo {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 1.3;
    font-size: 1rem;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
  }

  .container__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }


}


@media (max-width:563px) {
  .animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    position: static;
  }

  .tittle {
    max-width: 80vw;
    min-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 2vh;
    /* background-color: #facf0f; */
  }

  .container__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .yes1__space {
    display: none;
  }
}



@media screen and (min-width:1024px) and (max-width:1300px) {
  .animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    position: static;
  }

  .btn {
    width: 15rem;
    font-size: x-large;
    padding: 1.5rem;
    background: #facf0f;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    transition: transform .3s;
    margin-top: -6vh;

  }

  .yes1__space {
    display: unset;
  }

  .yes__space {
    display: none;
  }

  .none__space {
    display: none;
  }

}

@media screen and (min-width:1024px) and (max-width:1200px) {
  .animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: static;


  }

  .btn {
    width: 10rem;
    font-size: large;
    padding: 1.2rem;
    background: #facf0f;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    transition: transform .3s;


  }

  .yes1__space {
    display: unset;
  }

  .yes__space {
    display: none;
  }

  .none__space {
    display: none;
  }

  .tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 2vh;
    text-align: center;


  }

  .container__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .parrafo {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 1.3;
    font-size: 1.2rem;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;

  }

  .button__projects {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* background-color: aqua; */
    margin-top: 10vh;
  }



}