.container__part1 {
  margin-top: -1vh;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url('../../../assets/common-bg.svg');
    background-position: center;
    height: 70vh;
    min-height: 65rem;
    max-height: 120rem;
    

}


.tittle {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 2vh;


}

.container__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.parrafo {

  display: flex;
  justify-content: center;

  font-size: x-large;
  margin: 0.5vh;

}

.button__projects {


  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  /* background-color: aqua; */
  margin-top: 10vh;




}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  position: static;
  
  
}

.social__buttons {

  float: left;
  /* background-color: antiquewhite; */


}

.container__social {
  width: 10vw;
  height: 10vh;
  float: left;
  /* background-color: #facf0f; */

}


.btn {
  width: 15vw;
  font-size: x-large;

  padding: 1.5rem;
  background: #facf0f;


  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  transition: transform .3s;

}


.proyectosbutton {
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
}



















.button__scroll {
  width: 30px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);

}

.scroll {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  animation: scroll_4013 2s linear infinite;
  transform: translateY(40%);
}

.button__scroll:after {
  content: 'scroll';
  position: absolute;
  top: 140%;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}



@keyframes scroll_4013 {
  0% {
    transform: translateY(40%);
  }

  50% {
    transform: translateY(90%);
  }
}

;