.position {
    float: right;
    display: flex;
    flex-direction: row;
}
.container__navbar {
    position:fixed;
    width: 99.2%;
    height: 10vh;
    margin-top: -1vh;
    background-color: rgb(255, 255, 255);
}

.titles{
    font-size: 1vw;
    color: black;
}

.button{
    margin: 1vw;
    
    background-color: transparent;
    border: none;
}